      <span>Follow me on:</span>
      <a class="github" href="https://github.com/Oftatkofta/">Github</a>
      <a class="twitter" href="https://twitter.com/ErixonEriksson">Twitter</a>
	  <a class="G+" href="https://www.google.com/+JensErikssonEpsilon">G+</a>


<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="{{site.baseurl}}index.html">Home</a></li>
  	<li role="presentation"><a href="{{site.baseurl}}sample-page.html">Profile</a></li>
  	<li role="presentation"><a href="{{site.baseurl}}sample-page.html">Messages</a></li>
  	<li role="presentation" class="dropdown">
 	   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	        Blog <span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}sample-page.htm">blag1</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}sample-page.htm">blag2</a></li>
	      </ul>
	    </li>
	  </ul>