<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="Jens Erik Eriksson" />
<link href="http://fwww.erixoneriksson.com" rel="alternate" title="Jens Erik Eriksson" />

<!-- Homepage CSS -->
<link rel="stylesheet" href="/_css/screen.css" type="text/css" media="screen, projection" />

<!-- Typekit -->
<script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<div class="site">
<div class="title">
<a href="/">Jens Erik Eriksson</a>
<a class="extra" href="/">home</a>
</div>
{{ content }}
<div class="footer">
<div class="contact">

</div>
<div class="contact">
<p>
<a href="http://github.com/oftatkofta/">github.com/oftatkofta</a><br />
<a href="http://twitter.com/erixoneriksson/">twitter.com/erixoneriksson</a><br />
</p>
</div>
</div>
</div>
